<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Montserrat&display=swap"
          rel="stylesheet">
    <title>{% block title %}Gallerio{% endblock %}</title>
    {% block header %}
      <div class="header-menu">
          <div class="logo">
            <strong>GALLERIO</strong>
          </div>
          <table class ="header-table">
              <tr class="header-table">
                  {% if user.is_authenticated %}
                      <td class="menu-button">
                          <a href="{% url 'home:feed' %}">Feed</a>
                      </td>
                      <td class="menu-button">
                          <a href="{% url 'home:home' %}">Profile</a>
                      </td>
                      <td class="header-menu-break">

                      </td>
                      <td class="search-bar">
                        <form method="POST" action="{% url "home:control-search" %}">
                            {% csrf_token %}
                            <input type="text" placeholder="Search..." name="query">
                            <button type="submit">Search</button>
                        </form>
                      </td>
                      <td class="menu-button right">
                        <a href="{% url 'logout' %}">Logout</a>
                      </td>
                  {% else %}
                      <td class="header-menu-break">
    {#                      <a href="{% url 'home:feed' %}">Feed</a>#}
                      </td>
                      <td class="header-menu-break">
    {#                      <a href="{% url 'home:home' %}">Profile</a>#}
                      </td>
                      <td class="header-menu-break">

                      </td>
                      <td class="header-menu-break">
    {#                    Search...#}
                      </td>
                      <td class="menu-button right">
                        <a href="{% url 'login' %}">Login</a>
                    </td>
                  {% endif %}
              </tr>
          </table>
      </div>
  {% endblock %}
</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>