{% extends 'home/base.html' %}
{% csrf_token %}
{% block content %}
    {% for post in posts %}
        <div class="feed-container">
            <table class="feed-table">
                <tr>
                    <td class="profile-pic-feed" rowspan="3">
{#                        <img src="{{ user_data.forloop.counter.profile_pic }}" alt="{{ post.user.username }}" width="50">#}
                    </td>
                    <td class="post">
                        <img src="/{{ post.file_path }}" alt="{{ post.id }}" width="300">
                    </td>
                </tr>
                <tr>
                    <td class="username">
                        <p>
                            {{ post.user.username }}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>{{ post.caption }}</p>
                    </td>
                </tr>
            </table>
            <hr class="feed-divider">
        </div>
    {% endfor %}
{%  endblock %}