{% extends "home/base.html" %}
{% load static %}
{% csrf_token %}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Montserrat&display=swap"
          rel="stylesheet">
    {% block header %}
        {% if user.is_authenticated %}
            <div class="header-menu">
              <div class="logo">
                <strong>GALLERIO</strong>
              </div>
              <table class ="header-table">
                  <tr class="header-table">
                      {% if user.is_authenticated %}
                          <td class="menu-button">
                              <a href="{% url 'home:feed' %}">Feed</a>
                          </td>
                          <td class="menu-button">
                              <a href="{% url 'home:home' %}">Profile</a>
                          </td>
                          <td class="header-menu-break">

                          </td>
                          <td class="search-bar">
                            Search...
                          </td>
                          <td class="menu-button right">
                            <a href="{% url 'logout' %}">Logout</a>
                          </td>
                      {% else %}
                          <td class="header-menu-break">
        {#                      <a href="{% url 'home:feed' %}">Feed</a>#}
                          </td>
                          <td class="header-menu-break">
        {#                      <a href="{% url 'home:home' %}">Profile</a>#}
                          </td>
                          <td class="header-menu-break">

                          </td>
                          <td class="header-menu-break">
        {#                    Search...#}
                          </td>
                          <td class="menu-button right">
                            <a href="{% url 'login' %}">Login</a>
                        </td>
                      {% endif %}
                  </tr>
              </table>
            </div>
        {% endif %}
    {% endblock %}
</head>
{% block content %}
    {% if user.is_authenticated %}
        <div class="profile-pic inline">
            <img src="{{ user_data }}" alt="{{ user.username }}" width="100">
        </div>
        <div class="user-info inline">
            <table>
                <tr class="username">
                    <td colspan="2">
                        <p>
                            {{ user.username }}
                        </p>
                    </td>
                    <td class="follow-button">
                        <a href="{% url 'home:edit-profile' user.username %}">Edit profile</a>
                    </td>
                </tr>
                <tr class="bio">
                    <td colspan="2">
                        {{ user_data.bio }}
                    </td>
                </tr>
                <tr>
                    <td class="followers" colspan="1">
                        followers
                    </td>
                    <td class="followers" colspan="1">
                        following
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;" colspan="1">
                        <a href="{% url 'home:user-followers' user.username %}">{{ num_followers }}</a>
                    </td>
                    <td style="text-align: center;" colspan="1">
                        <a href="{% url 'home:user-following' user.username %}">{{ num_following }}</a>
                    </td>
                </tr>
            </table>
        </div>
        <hr class="solid">
        <div class="post-grid">
            {% for post in posts %}
                <div class="post">
                    <img src="{{ post.image.url }}" alt="{{ post.id }}">
                    <p>{{ post.pub_date|date:"d M Y" }}</p>
                    <p class="caption"><strong>{{ user.username }}:</strong> {{ post.caption }}</p>
                </div>
        {% endfor %}
        </div>

        <div class="create-post">
            <div class="create-post-button">
                <a href="{% url 'home:new-post' user %}">+</a>
            </div>
        </div>
    {% else %}
        <h3 class="brand-name">
            GALLERIO
        </h3>
        <table class="home-table">
            <tr>
                <td class="home-table-button">
                    <a href="{% url 'login' %}">Login</a>
                </td>
                <td class="home-table-button">
                    <a href="{% url 'authapp:create-user' %}">Sign Up</a>
                </td>
            </tr>
        </table>
    {% endif %}
{%  endblock %}