{% extends "home/base.html" %}
{% block title %}
    New Post
{% endblock %}
{% block content %}
    <div class="login-form">
        <form class="new-post-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input class="new-post-input" name="image" accept="image/*" type="file"/>
            <input class="new-post-input" maxlength="240" name="caption" value="" placeholder="Caption" type="text"/>
            {% if err_message %}
                <p class="err-message">{{ err_message }}</p>
            {% endif %}
            <button class="new-post-submit" id="actual-btn" type="submit">Upload</button>
        </form>
    </div>
{% endblock %}