{% extends "home/base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <h1><strong>Welcome to {{ profile_user.username }}'s page</strong></h1>
        {% if follow %}
            <form method="post">
                {% csrf_token %}
                <button name="follow" value="unfollow">Unfollow</button>
            </form>
            {% for post in posts %}
                <div>
                    <img src="/{{ post.file_path }}" alt="{{ post.id }}" width="300">
                </div>
                <p>{{ post.caption }}</p>
            {% endfor %}
        {% else %}
            <form method="post">
                {% csrf_token %}
                <button name="follow" value="follow">Follow</button>
            </form>
        {% endif %}
    {% endif %}
{%  endblock %}