{% extends "home/base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="profile-pic inline">
            <img src="{{ user_data.profile_image.url }}" alt="{{ profile_user.username }}" width="100">
        </div>
        <div class="user-info inline">
            <table>
                <tr class="username">
                    <td colspan="2">
                        <p>
                            {{ profile_user.username }}
                        </p>
                    </td>
                    <td>
                        {% if follow %}
                            <form method="post">
                                {% csrf_token %}
                                <button class="follow-button" name="follow" value="unfollow">Unfollow</button>
                            </form>
                        {% else %}
                            <form method="post">
                                {% csrf_token %}
                                <button class="follow-button" name="follow" value="follow">Follow</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
                <tr class="bio">
                    <td colspan="2">
                        {{ user_data.bio }}
                    </td>
                </tr>
                <tr>
                </tr>
            </table>
        </div>
        <hr class="solid">
        {% if follow %}
            <div class="post-grid">
                {% for post in posts %}
                    <div class="post">
                        <img src="/{{ post.image.url }}" alt="{{ post.id }}">
                        <p>{{ post.pub_date|date:"d M Y" }}</p>
                        <p class="caption"><strong>{{ profile_user.username }}:</strong> {{ post.caption }}</p>
                    </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endif %}
{%  endblock %}