{% extends 'home/base.html' %}

{% block header %}
    <div class="header-menu">
          <div class="logo">
              <a href="{% url 'home:home' %}">GALLERIO</a>
          </div>
          <table class ="header-table">
              <tr class="header-table">
                  {% if user.is_authenticated %}
                      <td class="menu-button">
                          <a href="{% url 'home:feed' %}">Feed</a>
                      </td>
                      <td class="menu-button">
                          <a href="{% url 'home:home' %}">Profile</a>
                      </td>
                      <td class="header-menu-break">

                      </td>
                      <td class="search-bar">
                        Search...
                      </td>
                      <td class="menu-button right">
                        <a href="{% url 'logout' %}">Logout</a>
                      </td>
                  {% else %}
                      <td class="header-menu-break">
    {#                      <a href="{% url 'home:feed' %}">Feed</a>#}
                      </td>
                      <td class="header-menu-break">
    {#                      <a href="{% url 'home:home' %}">Profile</a>#}
                      </td>
                      <td class="header-menu-break">

                      </td>
                      <td class="header-menu-break">
    {#                    Search...#}
                      </td>
                  {% endif %}
              </tr>
          </table>
      </div>
{% endblock %}

{% block content %}
<html>
<head>
    <title>Gallerio: Sign Up</title>
</head>
<body>
    <div class="signup-form">
        <div class="login">
            Sign Up
        </div>
        <form class="signup" method="post">
            {% csrf_token %}
            <input class="login-form-input" maxlength="32" name="username" value="" placeholder="Username" type="text" />
            <p class="err-message">{{ username_error_message }}</p>
            <input class="login-form-input" maxlength="150" name="email" value="" placeholder="Email address" type="text" />
            <p class="err-message">{{ email_error_message }}</p>
            <input class="login-form-input" maxlength="30" name="password1" value="" placeholder="Password" type="password" />
            <p class="err-message">{{ password1_error_message }}</p>
            <input class="login-form-input" maxlength="30" name="password2" value="" placeholder="Re-enter password" type="password" />
            <p class="err-message">{{ password2_error_message }}</p>
            <table class="login-button-table">
                <tr>
                    <td class="login-button">
                        <button class="login-button-a" type="submit">Sign Up</button>
                    </td>
                </tr>
                <tr>
                    <td class="login-button">
                        <a href="{% url 'login' %}">Log In</a>
                    </td>
                </tr>
            </table>
            {% if error_message %}
                <p class="err-message">{{ error_message }}</p>
            {% endif %}
        </form>
    </div>
</body>
</html>
{% endblock %}